/* Global */
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* img {
    vertical-align: middle;
    width: 100%;
} */
/* End Global */

.row {
    display: flex;
}

.row .leftSide {
    flex: 33.33333%;
    background-color: #fff;
    margin: 20px 10px 20px 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.row .leftSide i {
    color: #009688;
    font-size: 20px;
    margin-right: 5px;
}

.row .leftSide .imgContainer {
    position: relative;
}

.row .leftSide .imgContainer .name {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.row .leftSide .contacts {
    margin: 15px;
}

.row .leftSide .contacts p {
    font-size: 14px;
    color: #727272;
}

.row .leftSide hr {
    margin: 25px;
    color: #009688;
}

.row .leftSide .skills {
    margin: 15px;
}

.row .leftSide .skills h3{
    color: #727272;
    font-weight: normal;
}

.row .leftSide .skills h3 i{
    margin-right: 10px;
}

.row .leftSide .skills p {
    color: #727272;
}

.row .leftSide .skills .fullProgress {
    background-color: #aaa;
    border-radius: 10px;
    overflow: hidden;
}

.row .leftSide .skills .fullProgress .curProgress {
    background-color: #009688;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
.row .leftSide .skills .fullProgress .cur1 { width: 90%; }
.row .leftSide .skills .fullProgress .cur2 { width: 80%; }
.row .leftSide .skills .fullProgress .cur3 { width: 75%; }
.row .leftSide .skills .fullProgress .cur4 { width: 50%; }

.row .rightSide {
    flex: 66.66666%;
}

.row .rightSide .insideRow {
    flex: 100%;
    background-color: #fff;
    margin: 20px 20px 20px 10px;
    padding: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.row .rightSide .insideRow h3 {
    color: #727272;
    font-weight: normal;
}

.row .rightSide .insideRow h3 i{
    color: #009688;
    margin: 7px 7px 7px 0;
    font-size: 25px;
}

.row .rightSide .insideRow .jobInfo h5 {
    color: #727272;
    font-size: 16px;
}

.row .rightSide .insideRow .jobInfo h6 {
    font-weight: normal;
    font-size: 15px;
    color: #009688;
    margin-top: -10px;
}

.row .rightSide .insideRow .jobInfo h6 span {
    background-color: #009688;
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
}

.row .rightSide .insideRow .jobInfo h6 i {
    margin-right: 7px;
}

.row .rightSide .insideRow .jobInfo p {
    font-size: 14px;
}

.row .rightSide .insideRow hr {
    margin: 30px;
    color: #009688;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #009688;
    padding: 30px;
}

footer i {
    font-size: 30px;
}

footer a {
    text-decoration: none;
    color: #fff;
}